
section {
    display: block;
}

.beer {
    color: #ad1313;
    display: flex;
    flex-direction: row-reverse;
    padding: 80px 30px 120px;
}

/*div {
    display: block;
}*/
.beer__details {
    flex: 3;
}
.beer__title {
    /*display: none;*/
    font-size: 30px
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
img {
    border-style: none;
}

.beer__properties-top {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
}

.beer__description {
    line-height: 1.4em;
    font-size: 20px;
    color: #333;
}
ul {
    display: flex;
    list-style-type: disc !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


li {
    text-align: -webkit-match-parent;
}
.beer__properties-bottom li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*flex: 1 0 50%;*/
    /*margin: 50px 0;*/
    flex: 1 0 25%;
    align-items: center;
    margin: 30px 0 20px;
}

.beer__properties-bottom span:first-child {
    font-family: 'Fredericka the Great';
    font-size: 50px;
    text-transform: uppercase;
}
.beer__properties-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.beer__properties-bottom li span.percentaje {
    font-size: 40px;
}
.percentaje {
    font-family: Economica !important;
}
.beer__bottle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
}
.beer__bottle {
    max-width: 100%;
}
.beer__bottle {
    margin-top: 50px;
    width: 65%;
}