.header__menu
   width 1920px
   height 181px
   background-color #f4efe2
   display flex
   text-align center
   justify-content center
   position relative

   & ul
      list-style none
      display inline-block
      margin auto   
   &-item
      padding 1.5em
      font-family Fuente1
      font-size 21px
      font-weight bold
      font-stretch normal
      font-style normal
      line-height 4.38
      letter-spacing normal
      color #2d292b
      text-transform: uppercase
      float left
      text-align center
      img 
         padding-left  7px
         display inline-block
         vertical-align middle
      p
         display inline-block
         vertical-align middle
   &-logo 
      margin auto
      width 141px
      height 106px
      object-fit contain
      
