.header__menu
   max-width 1920px
   height 181px
   display flex
   text-align center
   justify-content center
   position relative
   & ul
      list-style none
      display inline-block
      margin auto   
   &-item
      mixin-titulo(navmenu)
      padding 1.5em
      height 73px
      line-height 4.38
      color #2d292b
      float left
      img
         padding-left  7px
         padding-bottom 5px
         display inline-block
         vertical-align middle
      p
         display inline-block
         vertical-align middle
   &-logo 
      padding-top 20px
      padding-left 40px
      width 141px
      height 106px
      // object-fit contain
      
