.u-wrapper
   display: flex
.container-left
   width: menu_width
.container-right
   width: menu_width
.container-center
   width logo_width
   height 126px
   display flex
   align-items center
.menu
   visibility visible
   position initial
   opacity 1
   left 0
   right 0
   text-align center
   mixin-menu(size_menu_1920)
   &-left
   &-right
      visibility visible
   & ul
      list-style none
      display inline-block
      margin auto
      padding 0   
   &-item
      padding-top 1.5em
      padding-bottom 1.5em
      padding-left: 1.5em
      padding-right: 1.5em
      height 73px
      line-height 4.38
      color #2d292b
      float left
      img
         width 31px
         height auto
         padding-left  7px
         padding-bottom 5px
         display inline-block
         vertical-align middle
      p
         display inline-block
         vertical-align middle
   &-logo 
      width 141px
      height auto
      display: block
      margin: auto
@media (max-width: 1594px)
   .menu
      visibility visible
      opacity 1
      position: initial
      height auto
      mixin-menu(size_menu_1360)
      .menu-logo
         width 115px
      .menu-item 
         padding-left: 1.5em
         padding-right: 1.5em
         img
            width 25px
   .container-center
      height 106px

@media (max-width: 1334px)
   .menu
      visibility visible
      opacity 1
      position: initial
      height auto
      mixin-menu(size_menu_1024)
      .menu-logo
         width 95px
      .menu-item 
         padding-left: 1.2em
         padding-right: 1.2em
         img
            width 22px
   .container-center
      width logo_width_s
      height 106px

@media (max-width: 1023px)
   .menu
      &-left 
      &-right
         visibility hidden
         position absolute
   .container-center
      height 106px


   
