mixin-titulo(tipo)
   if tipo == navmenu
      font-family: Fuente1
      font-size: 17px
      font-weight bold
      text-transform: uppercase

@media (max-width: 1366px)
   .header__menu
      background-color: red